In [1]:
import numpy as np
import pandas as pd

In [2]:
array = np.array([1, 2, 5, 6])

In [3]:
array

array([1, 2, 5, 6])

In [4]:
array_mixed = np.array([1,2,3,4, "abc"])

In [5]:
array_mixed

array(['1', '2', '3', '4', 'abc'], dtype='<U11')

In [6]:
array_mixed.ndim

1

In [7]:
array_mixed.shape

(5,)

In [8]:
array_mixed

array(['1', '2', '3', '4', 'abc'], dtype='<U11')

In [9]:
array_mixed[0]

'1'

In [10]:
matrix = np.array([
    [1,2,3,4],
    [5,6,7,8]
])

In [11]:
matrix

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [12]:
matrix.shape

(2, 4)

In [13]:
array

array([1, 2, 5, 6])

In [14]:
array + matrix

array([[ 2,  4,  8, 10],
       [ 6,  8, 12, 14]])

In [15]:
array - matrix

array([[ 0,  0,  2,  2],
       [-4, -4, -2, -2]])

In [16]:
array * matrix

array([[ 1,  4, 15, 24],
       [ 5, 12, 35, 48]])

In [17]:
np.sum(array)

14

In [18]:
np.multiply(array, matrix)

array([[ 1,  4, 15, 24],
       [ 5, 12, 35, 48]])

### Pandas

In [23]:
df

   index    name  grade
0   1235     Ace      5
1  43534  Milena      6
2  72623     Ana      7
3  78625   Simon      8

In [21]:
data = {
    "index": [1235, 43534, 72623, 78625],
    "name": ["Ace", "Milena", "Ana", "Simon"],
    "grade": [5,6,7,8]
}

In [24]:
df = pd.DataFrame(data)

In [25]:
df

   index    name  grade
0   1235     Ace      5
1  43534  Milena      6
2  72623     Ana      7
3  78625   Simon      8

In [26]:
df.to_csv("grades.csv")

In [27]:
print(df)

   index    name  grade
0   1235     Ace      5
1  43534  Milena      6
2  72623     Ana      7
3  78625   Simon      8

In [37]:
array2 = np.ones([4,3])

In [38]:
print(array2)

[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]